* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(25, 100, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.header-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.img-perfil{
    border-radius: 50%;
}

.main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12%;
}

.rep-div{
    background-color: white;
    display: flex;
    width: 50%;
    height: 2.5rem;
    border-radius: 1.5rem;
    padding-top: 10px;
    margin-top: 1rem;
    display: flex;   
    font-weight: bold;
    justify-content: center;  
    gap: 20px;
    letter-spacing: .5px;
}

.img-social-media{
    width: 1.5rem;
    height: 1.5rem;
}

.rep-div:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .3s;
}

a{
    text-decoration: none;
    color: black;
}

.footer{
    font-size: .8rem;
    text-align: center;

}



@media screen and (max-width: 600px){

.header-div h1{
    font-size: large;
}

.header-div p{
    font-size: medium;
}

.img-perfil{
    border-radius: 50%;
    width: 30%;
}



.main-a{
    justify-content: center;
    padding-top: 2px;
}

.rep-div{
    background-color: white;
    display: flex;
    width: 80%;
    height: 3rem;
    border-radius: 1.5rem;
    padding-top: 10px;
    margin-top: 1rem;
    display: flex;   
    font-weight: bold;
    justify-content: center;  
    gap: 20px;
}

.img-social-media{
    width: 1.5rem;
    height: 1.5rem;
}

.rep-div:hover {
    transform: none;
}



.footer{
    font-size: .8rem;
    text-align: center;
    font-weight: bold;
}

}